<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tokyo Station Hotel</title>
    <link rel="stylesheet" href="contact.css">
</head>
<body>
    <main> 
        <!--NAV BAR-->
        <header>
            <nav>
                <img class="logo" src="images/LOGO.png" alt="LOGO">
                <div class="nev_links">
                    <a href="/index">หน้าแรก</a>
                    <a href="/gallery">คลังภาพ</a>
                    <a href="/travel">สถานที่ท่องเที่ยวใกล้เคียง</a>
                    <a href="/contact">ติดต่อเรา</a>
                </div>
                <div>
                    <a class="check" href="/check_reserve">ตรวจสอบการจอง</a>
                </div>
            </nav>
        </header>
        <!--Content-->
    </main>
</body>
</html>