<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tokyo Station Hotel</title>
    <link rel="stylesheet" href="travel.css">
</head>
<body>
    <main> 
        <!--NAV BAR-->
        <header>
            <nav>
                <img class="logo" src="images/LOGO.png" alt="LOGO">
                <div class="nev_links">
                    <a href="/index">หน้าแรก</a>
                    <a href="/gallery">คลังภาพ</a>
                    <a href="/travel">สถานที่ท่องเที่ยวใกล้เคียง</a>
                    <a href="/contact">ติดต่อเรา</a>
                </div>
                <div>
                    <a class="check" href="/check_reserve">ตรวจสอบการจอง</a>
                </div>
            </nav>
        </header>
        <!--Content-->
        <div class="headder">
        <a >สถานที่ท่องเที่ยวใกล้เคียง</a>
        </div>
        <!----------------------------------Uenopark------------------------------------->
        <div class="content">
            <div class="slideshow-container">
                <div class="mySlides1">
                  <img src="images/Uenopark.jpg">
                </div>
              
                <div class="mySlides1">
                  <img src="images/Uenopark2.jpg">
                </div>
              
                <div class="mySlides1">
                  <img src="images/Uenopark3.jpg">
                </div>
              
                <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
              </div>  
        <p>สวนอุเอโนะ (Ueno Park) <br>สวนอุเอโนะ ในใจกลาง กรุงโตเกียว เป็นสวนสาธารณะขนาดใหญ่ที่ชาวญี่ปุ่นและนักท่องเที่ยวนิยมเดินทางมาเที่ยวชม สถานที่น่าสนใจภายในสวนนั้นมีมากมาย ทั้งพิพิธภัณฑ์ วัด ศาลเจ้า และธรรมชาติอันงดงาม บริเวณสวนนั้นความจริงแล้วเคยเป็นส่วนหนึ่งของ วัดคันเอจิ (Kaneiji Temple) ที่ยิ่งใหญ่อลังการ สวนอุเนโนะ เปิดให้เข้าชมเมื่อปี 1873 ปัจจุบันดึงดูดนักท่องเที่ยวกว่า 10 ล้านคนต่อปี ที่นี่เป็นจุดชมซากุระที่ดีที่สุดแห่งหนึ่งของ โตเกียว ในยามที่ซากุระบานตอนปลายเดือนเมษายนถึงต้นพฤษภาคมของทุกปี ภายในสวนมีซากุระกว่า 1,000 ต้นเรียงรายตามเส้นทางเดิน ธรรมชาติที่งดงามน่าทึ่งอีกอย่างหนึ่งของ สวนอุเอโนะ ก็คือ สระชิโนบาสุ (Shinobazu Pond) ซึ่งเป็นสระน้ำขนาดใหญ่ทางมุมด้านตะวันตกเฉียงใต้ของสวน นักท่องเที่ยวสามารถเช่าเรือพายเล่นได้</p>
        </div>
        <!----------------------------------Imperial Palace------------------------------------->
        <div class="content2">
             <p>พระราชวังอิมพีเรียล (Imperial Palace) <br>พระราชวังอิมพีเรียล (Imperial Palace) คือสถานที่ท่องเที่ยวอันโดดเด่นของย่าน มารุโนจิ (Marunouchi) ใน กรุงโตเกียว โดยเป็นที่ประทับของราชวงศ์อิมพีเรียลซึ่งตั้งอยู่บนสถานที่ที่เคยเป็น ปราสาทเอโดะ (Edo Castle) ซึ่งเป็นป้อมปราการของเมือง โตเกียว ซึ่งเติบโตและขยายตัวไปรอบๆ นั่นเอง พระราชวังอิมพีเรียล ไม่ได้เปิดให้คนทั่วไปเข้าชม ยกเว้น 2 วันสำคัญประจำปี คือวันที่ 23 ธันวาคม ซึ่งเป็นวันเกิดขององค์จักรพรรดิ และวันที่ 2 มกราคมสำหรับการอำนวยพรปีใหม่ ทั้งสองวันนี้นักท่องเที่ยวสามารถเข้ามาในวังชั้นในได้ และสมาชิกราชวงศ์อิมพีเรียลจะเสด็จออกสีหบัญชรเพื่อทักทายประชาชน นอกจากตัว พระราชวังอิมพีเรียล เอง สิ่งก่อสร้างที่โด่งดังที่สุดในรั้ววังก็คือ สะพานนิจูบาชิ (Nijubashi Bridge) สะพานนิจูบาชิ ซึ่งเป็นสะพานที่มีชื่อเสียงที่สุดในโตเกียวนี้ความจริงแล้วคือสะพาน 2 สะพานที่ทอดข้ามคูน้ำรอบปราสาทไปยังประตูใหญ่ของพระราชวัง</p>
            <div class="slideshow-container">
                <div class="mySlides2">
                  <img src="images/Imperial1.jpg">
                </div>
              
                <div class="mySlides2">
                  <img src="images/Imperial2.jpg">
                </div>
              
                <div class="mySlides2">
                  <img src="images/Imperial2.jpg">
                </div>
              
                <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
              </div>
        </div>

        <!----------------------------------Shibuya------------------------------------->
        <div class="content3">
            <div class="slideshow-container">
                <div class="mySlides3">
                  <img src="images/Shibuya1.jpg">
                </div>
              
                <div class="mySlides3">
                  <img src="images/Shibuya2.jpg">
                </div>
              
                <div class="mySlides3">
                  <img src="images/Shibuya3.jpg">
                </div>
              
                <a class="prev" onclick="plusSlides(-1, 2)">&#10094;</a>
                <a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
              </div>  
        <p>ห้าแยกชิบูย่า (Shibuya Crossing) <br>ห้าแยกชิบูย่า (Shibuya Crossing) ถือเป็นแลนด์มาร์กที่โดดเด่นที่สุดแห่งหนึ่งของ โตเกียว เป็นสถานที่ที่ปรากฏอยู่ในภาพยนตร์และรายการโทรทัศน์มากมาย ห้าแยกนี้อยู่ตรงหน้าสถานีรถไฟ Shibuya Station ในเขต ชิบูย่า ที่แสนพลุกพล่าน เป็นทางเดินข้ามถนนขนาดใหญ่ที่คนจะต้องเดินตัดกันเป็นจังหวะราวกับเสียงหัวใจแห่งเมือง โตเกียว ผู้คนกว่าห้าแสนคนจะเดินผ่านห้าแยกนี้กันทุกวัน โดยจะต้องรอสัญญาณไฟที่บอกให้คนเดินเท้าข้ามถนนได้ ชาวโตเกียวจะก้าวเดินฉับๆ ข้ามถนนมาจากทุกทิศทางจนกระทั่งสัญญาณไฟเปลี่ยนให้รถแล่นต่อไปได้ ในชั่วโมงเร่งด่วนจะมีคนที่ข้ามถนนพร้อมกันกว่า 3,000 คนเลยทีเดียว ห้าแยกชิบูย่า เป็นจุดที่นักท่องเที่ยวนิยมถ่ายรูปกันมาก เพราะฉะนั้นถ่ายได้เต็มที่ เพียงแต่ต้องระวังและมีสติหน่อยเท่านั้นเอง</p>
        </div>
        <!----------------------------------Tokyo Skytree------------------------------------->
        <div class="content4">
            <p>โตเกียวสกายทรี (Tokyo Skytree) <br>หอโทรทัศน์โตเกียวสกายทรี (Tokyo Skytree) เป็นที่เที่ยวใหม่ล่าสุดแห่งหนึ่งขอ งโตเกียว ซึ่งกลายเป็นแลนด์มาร์กยอดนิยมอย่างรวดเร็ว และถ้าใครได้เห็นก็จะไม่แปลกใจเลยว่าทำไมถึงเป็นเช่นนั้น หอโทรทัศน์โตเกียวสกายทรี สร้างเสร็จในปี 2012 และตั้งตระหง่านบนผืนฟ้าย่าน สุมิดะ (Sumida) ด้วยความสูง 633 เมตร เป็นตึกที่สูงที่สุดอันดับ 2 ของโลก (รองจากตึก Burj Khalifa เมืองดูไบ) และเป็นสิ่งปลูกสร้างโดดซึ่งไม่มีอะไรยึดโยงที่สูงที่สุดในโลก โตเกียวสกายทรี ซึ่งทำหน้าที่เป็นหอคอยส่งสัญญาณโทรทัศน์นั้นไม่มีสิ่งใดบดบังทัศนวิสัยของตึก จึงมองเห็นวิวเมืองได้ 360 องศา นักท่องเที่ยวสามารถชมวิวเพลินๆ ระหว่างจิบกาแฟจาก Skytree Cafe หรือกินอาหารที่ร้านระดับมิชลินสตาร์อย่าง Sky Restaurant 634 นอกจากนี้ยังมีร้านขายของฝากและบริการถ่ายภาพที่ระลึกด้วย</p>
           <div class="slideshow-container">
               <div class="mySlides4">
                 <img src="images/Tokyo Skytree1.jpg">
               </div>
             
               <div class="mySlides4">
                 <img src="images/Tokyo Skytree2.jpg">
               </div>
             
               <div class="mySlides4">
                 <img src="images/Tokyo Skytree3.jpg">
               </div>
             
               <a class="prev" onclick="plusSlides(-1, 3)">&#10094;</a>
               <a class="next" onclick="plusSlides(1, 3)">&#10095;</a>
             </div>
       </div>
    </main>
    <!--imgslide-->
    <script>
        let slideIndex = [1,1,1,1];
        let slideId = ["mySlides1", "mySlides2", "mySlides3", "mySlides4"]
        showSlides(1, 0);
        showSlides(1, 1);
        showSlides(1, 2);
        showSlides(1, 3);
        function plusSlides(n, no) {
          showSlides(slideIndex[no] += n, no);
        }
        
        function showSlides(n, no) {
          let i;
          let x = document.getElementsByClassName(slideId[no]);
          if (n > x.length) {slideIndex[no] = 1}    
          if (n < 1) {slideIndex[no] = x.length}
          for (i = 0; i < x.length; i++) {
             x[i].style.display = "none";  
          }
          x[slideIndex[no]-1].style.display = "block";  
        }
        </script>
</body>
</html>