/* Add Google Font */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,500&display=swap');
/* All Class Using Same Class */
:root{
    /* Define Variable */
       --Accent : #0b3f7b; /* Button Color */
       --maincolor : #1F74D8;
       --AccentHover : #769FD0; /*Mouse Hover --> light */
       --Dark60 : rgba(68, 90 ,139, 0.6); /* 0.6=60% */
       --Light : #FFFFFF;
       --Transition : all 0.3s ease 0s /* Define Delay Time */
   }
   /* All section */

*{
    /* Clear margin and padding */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; /* Fixed Height Using Scroolbar*/
    overflow: auto;
}
body{
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

a { 
    text-decoration: none; 
}

/* Nav-Bar */
nav{
    display: flex;
    align-items: center;
    height: 100px;
    background-image: url("images/Logo_BG.svg");
    padding: auto;
}
.logo{
    padding-top: 3%;
    padding-left: 5%;
}
.nev_links{
    margin-left: 28%;
}
.nev_links a{
    color: #FFFFFF;
    padding: 8px;
    font-size: 1.5rem;
    font-weight: 400;
    transition: var(--Transition);
    font-family: "Kanit";
}
.check{
    color: #000;
    background-color: #FFE033;
    padding: 8px;
    font-size: 1.5rem;
    font-weight: 400;
    transition: var(--Transition);
    font-family: "Kanit";
    margin-left: 10px;
}
/*----------------------------------------------------*/

/* Show-Date */

.ShowDate{
    background-image: url("/images/Select_room_nev.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 150px;
}
.ShowDate label{
    margin-top: 50px;
}

.DateInOut{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 400;
    margin-left: 70%;
    transition: var(--Transition);
    font-family: "Kanit";
}
.dateData{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 69%;
    transition: var(--Transition);
    font-family: "Kanit"; 
    display: flex;
}
.dateData p{
    display: flex;
    border: #383A3A;
    background-color: #383A3A;
    padding: auto;
    width: 170px;
    height: 30px;
    border-style: solid
}
/*-----------------------------------------------------*/
/*----------------------Content------------------------*/
.header{
    color: #000;
    font-size: 2rem;
    font-weight: 400;
    transition: var(--Transition);
    font-family: "Kanit"; 
    padding-top: 2%;
    margin-left: 2%;
}
.data{
    display: flex;
}
.roomdata{
    display: grid;
    grid-template-columns: 30% auto;
    color: #000;
    font-size: 1.3rem;
    font-weight: 400;
    transition: var(--Transition);
    font-family: "Kanit"; 
    padding: auto;
    margin-left: 2%;
}
.img{
    grid-column: 1 / span 1;
    margin-top: 5%;
}
.text {
    margin-left: 1%;
    grid-row: 2 / span 0;
    font-size: 1.3rem;
    font-weight: 400;
    transition: var(--Transition);
    font-family: "Kanit"; 
}
.text input{
    width: 100px;
    height: 50px;
    padding: auto;
    font-family: "Kanit"; 
    font-size: 1.3rem;
    background-color: #FFE033;
}
.roomdata img{
    width: 400px;
    height: auto;
}
.pricesubmit{
    align-items: center;
    display: flex;
    width: 100px;
    height: 50px;
    padding: auto;
    font-family: "Kanit"; 
    font-size: 1.3rem;
    background-color: #FFE033;
}
.feature{
    width: 100%;
}

/*-----------------------------------------------------*/
  
